Conta no sistema churrasqIN
 
Olá <%= @email%>,

Você acaba de criar uma conta em nosso sistema. Clique aqui para confirmar e compre já seu {IN}gresso para o churrasqIN. Esperamos que possa aproveitar! Equipe do churrasqIN.
