<h1>Conta no sistema churrasqIN</h1>
 
<p>
  Olá <%= @email%>,
</p>
 
<p>
  Você acaba de criar uma conta em nosso sistema. Clique aqui para confirmar e compre já seu {IN}gresso para o churrasqIN. Esperamos que possa aproveitar! Equipe do churrasqIN.
</p>